<link rel="stylesheet" href="/stylesheets/style.css">
<div id="portada">
  <div class="row">
    <div class="col-4">
      <img src="/server{{coverpage}}" alt="" width="300px">
      <br>
      <div class="card text-left">
        <img class="card-img-top" src="{{photo}}" width="30px">
        <div class="card-body">
          <h4 class="card-title">Autor</h4>
          <p class="card-text">{{autor}}</p>
          <label for="">Actualizar foto </label>
          <button type="button" name="" id="updatebtn" data-toggle="modal" data-target="#uploaddata"
            class="btn btn-primary" btn-lg btn-block"><svg class="bi bi-wrench" width="1em" height="1em"
              viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z" />
            </svg></button>

        </div>
      </div>
    </div>
    <div class="col-8">
      <form action="" id="formdata" method="post">
        <div class="form-group">
          <input type="hidden" name="id" id="" value="{{id}}">
          <label for="">Título del trabajo</label>
          <input type="text" class="form-control" name="title" id="" aria-describedby="helpId" placeholder=""
            value="{{title}}">
          <small id="helpId" class="form-text text-muted">Puede actualizar el título si lo ve conveniente</small>
        </div>
        <div class="form-group">
          <label for="">Autor del trabajo</label>
          <input type="text" class="form-control" name="autor" id="" aria-describedby="helpId" placeholder=""
            value="{{autor}}">
          <small id="helpId" class="form-text text-muted">Puede actualizar el autor de ser incorrecta la
            extracción</small>
        </div>
        <div class="form-group">
          <label for="">Número de páginas procesadas</label>
          <input disabled type="text" class="form-control" name="numberpage" id="" aria-describedby="helpId"
            placeholder="" value="{{numberpage}}">
          <small id="helpId" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="">Modalidad de Títulación </label>
          <div class="form-group">
            <label for=""></label>
            <select class="form-control" name="modalidad" id="modalidad" value="{{modalidad}}">
              <option value="Ninguno.">Ninguno.</option>
              <option value="Tesis">Tesis</option>
              <option value="Proyecto de Grado">Proyecto de Grado</option>
              <option value="Monografías">Monografías</option>
            </select>
          </div>
          <small id="helpId" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="">Unidad Académica </label>
          <div class="form-group">
            <label for=""></label>
            <select class="form-control" name="unidad" id="unidad" value="{{unidad}}">
              <option value="Ninguno.">Ninguno.</option>
              <option value="Ninguno.">FATECIPOL (Fac. Técnica, pregrado).</option>
              <option value="ANAPOL (Pregrado).">ANAPOL (Pregrado).</option>
              <option value="CEFOTES (Posgrado).">CEFOTES (Posgrado).</option>
              <option value="ESCUELA SUPERIOR (Posgrado).">ESCUELA SUPERIOR (Posgrado).</option>
            </select>
          </div>
          <small id="helpId" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="">Resumen</label>
          <div class="form-group">
            <label for=""></label>
            <textarea class="form-control" name="abstract" id="" rows="10">{{abstract}}</textarea>
          </div>

          <small id="helpId" class="form-text text-muted"></small>
        </div>
        <button type="submit" id="updateinfo" class="btn btn-primary">Actualizar Información</button>
      </form>

    </div>

  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Paginas</th>
      <th scope="col">Ver</th>
    </tr>
  </thead>
  <tbody>
    {{#content}}
    <tr>
      <td>{{page}}</td>
      <td>{{content}}</td>
      <td>@see</td>
    </tr>
    {{/content}}
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="uploaddata" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Foto de autor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-drop-zone" id="drop-zone">
          <div id="defaultmsn">
            Arrastra la foto de perfil que desea subir al servidor
          </div>
          <ul class="filesicon">
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<script type="module">
  import { UploadUi } from "/js/uploadui.js";
  var p = new UploadUi("/server/uploadphoto/?idTesis={{id}}");
  document.getElementById("modalidad").value = "{{modalidad}}";
  document.getElementById("unidad").value = "{{unidad}}";
  const formToJSON = elements => [].reduce.call(elements, (data, element) => {
    data[element.name] = element.value;
    return data;
  }, {});
  var formdata = document.getElementById("formdata");
  formdata.addEventListener("submit", (e) => {
    var data = formToJSON(formdata.elements);
    e.preventDefault();
    var misCabeceras = new Headers();
    fetch("/server/updatebook", {
      method: "POST",
      headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
      body: JSON.stringify(data)
    }).then(
      response => response.text()// if the response is a JSON object
    ).then(
      success => {
        alert("Load")
      }
    )
    return false;
  });

</script>